.ceditor-codemirror-container{
    background-color: rgb(255, 255, 255);
    &::selection{
      background: rgba(130, 182, 255,.4);
    }
    box-shadow: 0 0 0 0.1px #d1d1d1, 0 0 1px 0.1px #ccc;
    position: relative;
    top:20px;
    //bottom: 10px;
    //left: 0;
    width: 830px;
    margin: 0 auto;
    border: 0;
    padding: 0;
    margin-bottom: 60px;
    min-height: 100%;
    height:  auto;
    .CodeMirror {
        min-height:100%;
        height:auto;
        border: 1px solid #eee;
    }
}